---

interface Props {
    title : string;
    category : string;
	projectDate : string;
	projectUrl : string;
	color1 : string;
	color2 : string;
    pImage1: string;
    pImage2: string;
    pImage3: string;
    pImage4: string;
    pImage5: string;
    pImage6_1: string;
    pImage6_2: string;
}

const { title, category,projectDate,projectUrl,color1,color2,pImage1,pImage2,pImage3,pImage4,pImage5,pImage6_1,pImage6_2 } = Astro.props;

const colorVariants = {
    ffffff : 'bg-[#ffffff]',
    '34A064' : 'bg-[#34A064] hover:bg-[#2c8d58]',
    'E11D48' : 'bg-[#E11D48] hover:bg-[#c3183e]',
    '3778F0' : 'bg-[#3778F0] hover:bg-[#2f67cf]',
    '357A7B' : 'bg-[#357A7B] hover:bg-[#257A7B]',
    '2D9596' : 'bg-[#2D9596] hover:bg-[#1D9596]',
    '00236D' : 'bg-[#00236D] hover:bg-[#00036D]',
  }
---

<section class="rounded-[20px] overflow-hidden">
    <div class="grid grid-cols-3 justify-center items-center px-5 md:px-10 py-5 md:py-7 bg-bgm3">
        <p class="text-white text-base">{title}</p>
        <h3 class="text-white text-center text-xl md:text-2xl">{category}</h3>
        <p class="text-white text-end text-base">{projectDate}</p>
    </div>
    <div class="py-5 px-5 bg-bgm">
        <div class="grid grid-cols-2 gap-5 mb-5">
            <div class="rounded-[10px] overflow-hidden max-h-[330px] md:max-h-none">
                <img class="h-full w-full object-cover" src={pImage1} alt="pImage1" />
            </div>

            <div class="rounded-[10px] overflow-hidden flex flex-col gap-5 gap-y-5">
                <div class="grid grid-cols-2 gap-5 align-center md:h-1/2">
                    <div class="grid grid-cols-2 gap-3 gap-y-3 justify-center items-center bg-bgm3 p-5 rounded-[10px]">
                        <div class={`flex items-center justify-center ${colorVariants[color1]} rounded-[10px] py-[10px] px-3 h-full w-full`}>
                            <img src={pImage6_1} alt="Logo" />
                        </div>
                        <div class={`flex items-center justify-center ${colorVariants[color2]} rounded-[10px] py-[10px] px-3 h-full w-full`}>
                            <img src={pImage6_2} alt="Logo" />
                        </div>
                        <div class=`flex items-center justify-center ${colorVariants[color2]} rounded-[10px] py-[10px] px-3 h-full w-full`>
                            <img src={pImage6_2} alt="Logo" />
                        </div>
                        <div class=`flex items-center justify-center ${colorVariants[color1]} rounded-[10px] py-[10px] px-3 h-full w-full`>
                            <img src={pImage6_1} alt="Logo" />
                        </div>
                    </div>
                    <a href={projectUrl} class=`rounded-[10px] h-20 md:h-full w-full flex items-center justify-center overflow-hidden ${colorVariants[color2]}`>
                        <h3 class="text-base text-white font-normal md:font-medium">View Project</h3>                                      
                    </a>
                </div>
                
                <div class="rounded-[10px] h-20 md:h-1/2 w-100 overflow-hidden flex items-center justify-center bg-bgm3 p-5">
                    <img class="object-cover object-top" src={pImage5} alt="pImage3" />
                </div>     
            </div>   
        </div>
        
        <div class="rounded-[10px] overflow-hidden grid grid-cols-3 gap-5 gap-y-5">
            <div class="rounded-[10px] overflow-hidden">
                <img class="object-cover object-top h-full aspct-square w-full" src={pImage2} alt="pImage2" />
            </div>
            <div class="rounded-[10px] overflow-hidden bg-bgm3">
                <img class="object-cover object-top h-full aspct-square w-full" src={pImage3} alt="pImage3" />
            </div>
            <div class="rounded-[10px] overflow-hidden">
                <img class="object-cover object-top h-full aspct-square w-full" src={pImage4} alt="pImage3" />
            </div>
        </div>
             
    </div>
    
</section>