---
import ProjectsCard from "./ProjectsCard.astro";


const Shadakah1 = "/shadakah1.png";
const Shadakah2 = "/shadakah2.png";
const Shadakah3 = "/shadakah3.png";
const Shadakah4 = "/shadakah5.png";
const Shadakah5 = "/shadakah4.png";
const Shadakah6_1 = "/shadakah6_1.png";
const Shadakah6_2 = "/shadakah6_2.png";

const lms1 = "/lms1.png";
const lms2 = "/lms2.png";
const lms3 = "/lms3.png";
const lms4 = "/lms5.png";
const lms5 = "/lms4.png";
const lms6_1 = "/lms6_1.png";
const lms6_2 = "/lms6_2.png";

const st1 = "/36o1.png";
const st2 = "/healthX2.png";
const st3 = "/healthX5.png";
const st4 = "/36o4.png";
const st5 = "/36o5.png";
const st6_1 = "/36o6_1.png";
const st6_2 = "/36o6_2.png";

const neeramoy1 = "/neeramoy1.png";
const neeramoy2 = "/neeramoy2.png";
const neeramoy3 = "/neeramoy3.png";
const neeramoy4 = "/neeramoy4.png";
const neeramoy5 = "/neeramoy5.png";
const neeramoy6_1 = "/neeramoy16_1.png";
const neeramoy6_2 = "/neeramoy16_2.png";

const herbsion1 = "/herbsion1.png";
const herbsion2 = "/herbsion2.png";
const herbsion3 = "/herbsion3.png";
const herbsion4 = "/herbsion4.png";
const herbsion5 = "/herbsion5.png";
const herbsion6_1 = "/herbsion6_1.png";
const herbsion6_2 = "/herbsion6_2.png";

const healthX1 = "/healthX1.png";
const healthX2 = "/healthX2.png";
const healthX3 = "/healthX5.png";
const healthX4 = "/healthX3.png";
const healthX5 = "/healthX4.png";
const healthX6_1 = "/healthX6_1.png";
const healthX6_2 = "/healthX6_2.png";

---

<div class="grid grid-cols-2 gap-8 gap-y-8">
    <ProjectsCard 
        title = 'Islamic'
        category = 'Sadakah'
        projectDate = '2024'
        projectUrl = '/islamic-foundation'
        color1 = 'ffffff'
        color2 = '34A064'
        pImage1 = {Shadakah1}
        pImage2 = {Shadakah2}
        pImage3 = {Shadakah3}
        pImage4 = {Shadakah4}
        pImage5 = {Shadakah5}
        pImage6_1 = {Shadakah6_1}
        pImage6_2 = {Shadakah6_2}
    />
    <ProjectsCard
        title = 'LMS'
        category = 'TuitionApp'
        projectDate = '2023'
        projectUrl = '/lms'
        color1 = "ffffff"
        color2 = "E11D48"
        pImage1 = {lms1}
        pImage2 = {lms2}
        pImage3 = {lms3}    
        pImage4 = {lms4}
        pImage5 = {lms5}
        pImage6_1 = {lms6_1}
        pImage6_2 = {lms6_2}
    />
    <ProjectsCard
        title = 'ServiceTech'
        category = '360° Services'
        projectDate = '2020'
        projectUrl = '/lms'
        color1 = "ffffff"
        color2 = "3778F0"
        pImage1 = {st1}
        pImage2 = {st2}
        pImage3 = {st3}
        pImage4 = {st4}
        pImage5 = {st5}
        pImage6_1 = {st6_1}
        pImage6_2 = {st6_2}
    />
    <ProjectsCard
        title = 'HealthTech'
        category = 'Neeramoy'
        projectDate = '2023'
        projectUrl = '/HealthTech'
        color1 = "ffffff"
        color2 = "357A7B"
        pImage1 = {neeramoy1}
        pImage2 = {neeramoy2}
        pImage3 = {neeramoy3}
        pImage4 = {neeramoy4}
        pImage5 = {neeramoy5}
        pImage6_1 = {neeramoy6_1}
        pImage6_2 = {neeramoy6_2}
    />
    <ProjectsCard
        title = 'E-commerce'
        category = 'Herbsion'
        projectDate = '2024'
        projectUrl = '/Herbsion'
        color1 = "ffffff"
        color2 = "2D9596"
        pImage1 = {herbsion1}
        pImage2 = {herbsion2}
        pImage3 = {herbsion3}
        pImage4 = {herbsion4}
        pImage5 = {herbsion5}
        pImage6_1 = {herbsion6_1}
        pImage6_2 = {herbsion6_2}
    />
    <ProjectsCard
        title = 'E-commerce'
        category = 'Herbsion'
        projectDate = '2024'
        projectUrl = '/Herbsion'
        color1 = "ffffff"
        color2 = "00236D"
        pImage1 = {healthX1}
        pImage2 = {healthX2}
        pImage3 = {healthX3}
        pImage4 = {healthX4}
        pImage5 = {healthX5}
        pImage6_1 = {healthX6_1}
        pImage6_2 = {healthX6_2}
    />
</div>

