---
import { Image } from "astro:assets";
import airagri from "../assets/airagri.png";
import hevixx from "../assets/hevixx.png";
import homieApp from "../assets/homieapp.png";
import jamistore from "../assets/jamistore.png";
import maac from "../assets/maac.png";
import nupport from "../assets/n u p o r t.png";
import projucti from "../assets/projucti.png";
import speakin from "../assets/speakin.png";
import tutionApp from "../assets/tutionApp1.png";
import walletmix from "../assets/walletmix.png";
---

<div>
    <div class="mb-12">
        <h2 class="text-3xl md:text-[40px] text-white font-bold font-Montserrat mb-1 text-center">Work and Contribute to Brand</h2>    
        <p class="text-base text-white text-center max-w-[670px] mx-auto font-Poppins">Great products and experiences are built by great teams. I'll be more than honored to be part of yours. Let's talk.</p>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-5 gap-4 gap-y-5">
        <div class="bg-bgm py-6 px-7 rounded-[20px] h-full flex items-center justify-center max-h-[100px]">
            <Image src={jamistore} alt="jamistore" class="object-contain h-full"/>
        </div>
        <div class="bg-bgm py-6 px-7 rounded-[20px] h-full flex items-center justify-center max-h-[100px]">
            <Image src={nupport} alt="nupport" class="object-contain h-full"/>
        </div>
        <div class="bg-bgm py-6 px-7 rounded-[20px] h-full flex items-center justify-center max-h-[100px]">
            <Image src={tutionApp} alt="tutionApp" class="object-contain h-full"/>
        </div>
        <div class="bg-bgm py-6 px-7 rounded-[20px] h-full flex items-center justify-center max-h-[100px]">
            <Image src={homieApp} alt="homieApp" class="object-contain h-full"/>
        </div>
        <div class="bg-bgm py-6 px-7 rounded-[20px] h-full flex items-center justify-center max-h-[100px]">
            <Image src={walletmix} alt="walletmix" class="object-contain h-full"/>
        </div>
        <div class="bg-bgm py-6 px-7 rounded-[20px] h-full flex items-center justify-center max-h-[100px]">
            <Image src={projucti} alt="projucti" class="object-contain h-full"/>
        </div>
        <div class="bg-bgm py-6 px-7 rounded-[20px] h-full flex items-center justify-center max-h-[100px]">
            <Image src={maac} alt="projucti" class="object-contain h-full"/>
        </div>
        <div class="bg-bgm py-6 px-7 rounded-[20px] h-full flex items-center justify-center max-h-[100px]">
            <Image src={hevixx} alt="projucti" class="object-contain h-full"/>
        </div>
        <div class="bg-bgm py-6 px-7 rounded-[20px] h-full flex items-center justify-center max-h-[100px]">
            <Image src={speakin} alt="projucti" class="object-contain h-full"/>
        </div>
        <div class="bg-bgm py-6 px-7 rounded-[20px] h-full flex items-center justify-center max-h-[100px]">
            <Image src={airagri} alt="projucti" class="object-contain h-full"/>
        </div>
        
    </div>
</div>